* { font-family: Ubuntu }

dt {
 font-weight: bold;
}

.footnote {
 font-style: italic;
}

figure {
 margin-left: auto;
 margin-right: auto;
}

figcaption {
 font-style: italic;
}

a.external {
 color: blue;
 text-decoration: underline;
}

.sound {
 font-style: italic;
}

.dedication {
 font-style: italic;
 font-weight: bold;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

quote:before {
    content: '“';
}

quote:after {
    content: '”';
}

.actionlink {
 border-bottom: 1px dashed #999;
}

.pagelink {
 border-bottom: 1px solid #999;
}

.attribute {
 font-size: 14px;
 font: small-caps; // TODO: doesn't appear correctly
}

// TODO: fix stage3 link
